<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        There was a time when public administration was treated as a part of political science. Politics was uttered with public administration and this dichotomy continued for pretty long time. Today public administration is regarded as a separate discipline and it has succeeded in establishing its identity beyond any doubt. Not only this, the state and its various parts come under the purview of public administration.

The term civil society is very old, but in the second half of the twentieth century it drew the attention of academic circles and from 1970s and 1980s its importance in public administration has been-acknowledged. Before entering into the details about civil society and its relation to public administration we want to define the term. It is defined as the set of intermediate associations which are neither the state nor the family. Civil society, therefore, includes voluntary associations and forms and other corporate bodies. This is a general definition. But the term ‘has been used differently by various scholars and academicians.
    </p>
    
</body>
</html>