{% extends 'base.html' %}

{% block th1 %}Title{%endblock %}
{% block th2 %}description{%endblock %}
{% block th3 %} Post Date{%endblock %}
{% block th4 %}Posted by{%endblock %}
{% block th5 %}Location{%endblock %}
{% block th6 %}votes{%endblock %}

{% block th7 %}status{%endblock %}
{% block th8%}Date scheduling and feedback
{%endblock %}
{% block mytablebody %} 

    {% for i in problems  %}
    {%if  i.status in 'CC' %}
    

        <tr>
            <th scope="row">{{i.title}}</th>
            <td>{{i.desc}}</td>
            <td>{{i.postdate}}</td>
            <td>{{i.postedby}}</td>
            <td>{{i.location}}</td>
            <td>{{i.votes}}</td>
            
            <td >completed</td>
            <td>
                <a href="/schedule/{{i.prob_id}}">Date Schedule</a><br>
            
                <a  href="/feedback/{{i.prob_id}}">SEND FEEDBACK</a>
                
        </td> 
            
            

        </tr>
        {% endif %}
    {% endfor %}
{% endblock %}






