{% extends 'base.html' %}
{% block body %}
    
    
    
        <h3>{{problem.title}}</h3>
        <ul>
            <li> the estimate completion date :{{problem.ecompletiondate }}</li>
            {%if problem.acompletiondate not in 'None'%}
            <li> the actual completion date :{{problem.acompletiondate }}</li>
            {%else %}
            <li>the actual completion date will soon be assigned </li>
            {% endif %}
            
            
        </ul>
    
{% endblock %}